body{
    background-color: rgb(126, 108, 126);
    text-align: center;
}

h1 {
    color:rgb(96, 53, 96);
    font-family: Arial, sans-serif;
}

button {
    color:rgb(83, 68, 68);
    background-color:rosybrown;
    border-radius: 12px;
}